@use './variables' as *;
@use './mixins' as *;

body {
  margin: 0;
  font-family: $fontFamilyText;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: $bgColor;
  color: $fontColor;
  height: 100vh;
  // background: #020024;
  // background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(11, 4, 20, 1) 0%, rgba(0, 0, 0, 1) 98%);
  background: #37214f;
  background: radial-gradient(circle, rgba(55, 33, 79, 1) 0%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, 1) 98%);
  // background: #020024;
  // background: linear-gradient(308deg, rgba(2, 0, 36, 1) 0%, rgba(12, 1, 23, 1) 0%, rgba(0, 0, 0, 1) 98%);
  // background: #080114;
  // background: linear-gradient(308deg, rgba(8, 1, 20, 1) 0%, rgba(0, 0, 0, 1) 88%, rgba(0, 0, 0, 1) 98%);
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 24
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label, input, select, form {
  font-family: $fontFamilyText;
}